<?xml version="1.0"?>
<config>
    <modules>
        <Freshmit_Pbx123>
            <version>1.0.0.0</version>
        </Freshmit_Pbx123>
    </modules>
    <global>
        <models>
            <pbx123>
                <class>Freshmit_Pbx123_Model</class>
            </pbx123>
        </models>
        <blocks>
            <pbx123>
                <class>Freshmit_Pbx123_Block</class>
            </pbx123>
        </blocks>
        <helpers>
            <pbx123>
                <class>Freshmit_Pbx123_Helper</class>
            </pbx123>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <Freshmit_Pbx123>
                    <files>
                        <default>Freshmit_Pbx123.csv</default>
                    </files>
                </Freshmit_Pbx123>
            </modules>
        </translate>
        <events>
            <customer_register_success>
                <observers>
                    <pbx123_register_success>
                        <type>singleton</type>
                        <class>pbx123/observer</class>
                        <method>setAnalyticsOnRegisterSuccess</method>
                    </pbx123_register_success>
                </observers>
            </customer_register_success>
            <checkout_onepage_controller_success_action>
                <observers>
                    <pbx123_order_success>
                        <class>pbx123/observer</class>
                        <method>setAnalyticsOnOrderSuccessPageView</method>
                    </pbx123_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <pbx123_order_success>
                        <class>pbx123/observer</class>
                        <method>setAnalyticsOnOrderSuccessPageView</method>
                    </pbx123_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
        <layout>
            <updates>
                <pbx123>
                    <file>freshmit/pbx123.xml</file>
                </pbx123>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Freshmit_Pbx123>
                    <files>
                        <default>Freshmit_Pbx123.csv</default>
                    </files>
                </Freshmit_Pbx123>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <Freshmit_Pbx123>
                <use>admin</use>
                <args>
                    <module>Freshmit_Pbx123</module>
                    <frontName>pbx123</frontName>
                </args>
            </Freshmit_Pbx123>
        </routers>
    </admin>
    <default>
        <pbx123>
            <analytics>
                <sync_customers>1</sync_customers>
                <sync_orders>1</sync_orders>
                <web_rules>1</web_rules>
                <track_visitors>0</track_visitors>        
            </analytics>
        </pbx123>
    </default>
</config>